[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==1.*"
flask = "*"
djangorestframework = "*"
gunicorn = "*"
pymongo = "*"
"psycopg2" = "*"


[requires]

python_version = "2.7"
